* {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}

body {
    overflow-x: hidden;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #12141d 100%);
}

nav {
    height: 4.5rem;
    width: 100vw;
    background-color: #131418;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}



/*logo*/
.logo {
    padding: 1vh 1vw;
    text-align: center;
}

.logo img {
    height: 5rem;
    width: 5rem;
}

/*Links*/
.nav-links {

    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}

.nav-links li a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 0.7vw;
}

.nav-links li a:hover {
    color: #3ad018;
}

.nav-links li {
    position: relative;
}

.nav-links li a:hover::before {
    width: 80%;
}

/*Botão*/
.login-button {
    background-color: transparent;
    border: 1.5px solid #ffffff !important;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;

}

.login-button:hover {
    color: #131418;
    background-color: #ffffff;
    border: 1.5px solid #ffffff;
    transition: all ease-in-out 350ms;
}

.join-button {
    color: #131418;
    background-color: #7ae020;
    border: 1.5px solid #49d811;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}

.join-button:hover {
    color: #ffffff;
    background-color: transparent;
    border: 1.5px solid #ffffff;
    transition: all ease-in-out 350ms;
}

section {
    width: 50%;
    margin: auto;
    top: 500px;
}

figure {
    width: 100%;
    height: 500px;

}

figure img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;

}

#caio {
    color: white !important;
    text-decoration: none;
}

div.info {
    background-color: rgb(80, 80, 80);
    border-radius: 15px;
    width: 50%;
    margin: auto;

}

figure.cardizin {
    width: 300px;
    height: 250px;
}

figure.cardizin img {
    max-width: 100%;
    max-height: 100%;

}

div.card {
    background-color: rgb(80, 80, 80);
    ;
    width: 300px;
    margin: 30px;
    border-radius: 10px;
    left: 10%;
}

section.maior {
    margin: 40px auto;
    width: 75%;
}

figure #imgs {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    margin-top: 150px;
    margin-top: 150px;
}

footer {
    height: 80px;
    width: 100%;
    background-color: #00000091;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.payday {
    display: flex;
    flex-direction: row;
    font-size: large;

}

.payday a,
p {
    color: #ffffff83;
}

/*//////////////////////////////*/

.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.card img {
    max-width: 100%;
    border-radius: 4px;
}

.card h2 {
    color: #333;
    font-size: 1.5em;
    margin-top: 8px;
}

.card p {
    color: #666;
    font-size: 1em;
}

.card .price {
    color: #26e430;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 8px;
}

.card button {
    background-color: #26e430;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #333;
}

.linha1 {
    display: flex;

    flex-wrap: wrap;
    width: 1550px !important;


}

.product {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    max-height: 225px;
    max-width: 205px;
}

.add-to-cart {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#cart {
    flex-basis: 30%;
    border: 1px solid #ddd;
    padding: 20px;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    position: fixed;

}

#cart-items {
    list-style-type: none;
    padding: 0;
    max-height: 50vh;
    overflow-y: scroll;
}

#cart-items li {
    margin-bottom: 10px;
}

#total {
    font-weight: bold;
}

.carrinho {
    display: flex;
    justify-content: end;
    padding: 80px;
    color: #fff;
    height: 200px;
}