<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/image.css">
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/css/segment.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style type="text/css">
        .hidden.menu {
            display: none;
        }

        .masthead.segment {
            min-height: 700px;
            padding: 1em 0em;
        }

        .masthead .logo.item img {
            margin-right: 1em;
        }

        .masthead .ui.menu .ui.button {
            margin-left: 0.5em;
        }

        .masthead h1.ui.header {
            margin-top: 3em;
            margin-bottom: 0em;
            font-size: 4em;
            font-weight: normal;
        }

        .masthead h2 {
            font-size: 1.7em;
            font-weight: normal;
        }

        .ui.vertical.stripe {
            padding: 8em 0em;
        }

        .ui.vertical.stripe h3 {
            font-size: 2em;
        }

        .ui.vertical.stripe .button+h3,
        .ui.vertical.stripe p+h3 {
            margin-top: 3em;
        }

        .ui.vertical.stripe .floated.image {
            clear: both;
        }

        .ui.vertical.stripe p {
            font-size: 1.33em;
        }

        .ui.vertical.stripe .horizontal.divider {
            margin: 3em 0em;
        }

        .quote.stripe.segment {
            padding: 0em;
        }

        .quote.stripe.segment .grid .column {
            padding-top: 5em;
            padding-bottom: 5em;
        }

        .footer.segment {
            padding: 5em 0em;
        }

        .secondary.pointing.menu .toc.item {
            display: none;
        }

        @media only screen and (max-width: 700px) {
            .ui.fixed.menu {
                display: none !important;
            }

            .secondary.pointing.menu .item,
            .secondary.pointing.menu .menu {
                display: none;
            }

            .secondary.pointing.menu .toc.item {
                display: block;
            }

            .masthead.segment {
                min-height: 350px;
            }

            .masthead h1.ui.header {
                font-size: 2em;
                margin-top: 1.5em;
            }

            .masthead h2 {
                margin-top: 0.5em;
                font-size: 1.5em;
            }
        }
    </style>

</head>


<body class="crack">
    <main class="cracked">
        <div class="pusher">
            <div class="ui inverted vertical masthead center aligned segment" style="height: 94vh;">
               

                <div class="ui container">
                    <div  class="ui large secondary inverted pointing menu" style="display: flex;
                justify-content: center; align-items: center;">
                        <a class="toc item">
                            <i class="sidebar icon"></i>
                        </a>
                        <a class=" item" href="/home">Home</a>
                        <a  class="active item" href="/skin/bruno">Skins</a>
                        
                        <a class="item" href="/contato">Contato</a>
                        <div class="right item">
                            <a class="ui inverted button" href="/cadastro">Login</a>
                        </div>
                    </div>
                </div>
                <section id="changepage2">

                
            <section id="banner" class="banner2">
                <div class="" style="margin-top:3%;" id="carrocel">
                    <div id="carouselExample" class="carousel slide" style="height: 600px;">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="/images/promocao1.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="/images/promocao2.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="/images/promocao3.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="/images/promocao4.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="/images/promocao5.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="/images/promocao6.png" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" >
                          <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
                          <span class="visually-hidden"style="background-color: #fff;">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>

            </div>
            </section>
        </section>
        <section id="changepage">
            <div class="ui vertical stripe segment" style="background-color: rgb(255, 248, 248);">


                <div class="eight wide column" id="dstm">
                    <% for(let skin of skins){  %>
                        
                        <div class="card">
                            <img src="../images/upload/<%= skin.foto1 %>" alt="Produto" id="foto1">
                            <h2 id="nome"><%= skin.nome %></h2>
                           
                            <p class="price" id="valo">R$<%= skin.valor %>.00</p>
                            <p><button onclick="detalhes(<%= skin.id %>)">Detalhes</button></p>
                            <br><br>
                        </div>
                        
                        <% } %>

                    



 </div>
</section>
 <div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
             <div class="three wide column">
                <h4 class="ui inverted header">Politica de Privacidade</h4>
                <div class="ui inverted link list">
                  <a href="/termos" class="item"> Termos de uso</a>
                </div>
              </div>
                <div class="three wide column">
                <h4 class="ui inverted header">Serviços</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Desenvolvimento de Sistema </a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Criado </h4>
                <p>&copy 2022-2023</p>
            </div>
           
        </div>
    </div>
</div>
           
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        let num = 0
        function Ativar() {
            num++
            if (num % 2 == 1) {
                let formCad = document.getElementById("cart")
                formCad.style.visibility = "visible"
                formCad.style.opacity = 1
            }
            else if (num % 2 == 0) {
                let formCad = document.getElementById("cart")
                formCad.style.visibility = "hidden"
                formCad.style.opacity = 1
                formCad.style.transition = "hidden  400ms ease-in-out, opacity 0.8s ease-in-out";
            }



        }

        
        let cart = [];
        let total = 0;

        function addToCart(productName, price) {
            cart.push({ name: productName, price: price });
            total += price;

            updateCart();
        }

        function updateCart() {
            const cartItemsElement = document.getElementById('cart-items');
            const totalElement = document.getElementById('total');

            // Limpar carrinho antes de atualizar
            cartItemsElement.innerHTML = '';

            // Adicionar itens ao carrinho
            cart.forEach(item => {
                const li = document.createElement('li');
                li.textContent = `${item.name} - $${item.price.toFixed(2)}`;
                cartItemsElement.appendChild(li);
            });

            // Atualizar o total
            totalElement.textContent = `Total: $${total.toFixed(2)}`;
        }

        
        function detalhes(id){
          location.href = "brunaldo/"+id
      }
        function pagskin() {
 
 const skincpage = document.getElementById('changepage').innerHTML = `

`
 const skincpage2 = document.getElementById('changepage2').innerHTML = `

<div class="product-container">
<img class="product-image" src="../public/images/coroa-prata.png"
alt="Nome do Produto">
<div class="product-info">
<div class="product-title">Coruja Prateada - Rainha do Reino de Prata</div>
<div class="product-price">R$ 99,99</div>
<p class="product-description">
Nesta skin magnífica, uma coruja exibe sua plumagem cinzenta e reluzente, adornada com uma coroa delicada e reluzente sobre sua cabeça. Ela reina em um reino encantado feito inteiramente de prata, onde cada detalhe brilha com um esplendor
</p>
<form style="margin-left: -7%;">
<div class="rating">
<input type='radio' hidden name='rate' id='rating_5' data-idx='0'>
<label for='rating_5'></label>

<input type='radio' hidden name='rate' id='rating_4' data-idx='1'>
<label for='rating_4'></label>

<input type='radio' hidden name='rate' id='rating_3' data-idx='2'>
<label for='rating_3'></label>

<input type='radio' hidden name='rate' id='rating_2' data-idx='3'>
<label for='rating_2'></label>

<input type='radio' hidden name='rate' id='rating_1' data-idx='4'>
<label for='rating_1'></label>
</div>


<a href="#" class="buy-button">Comprar Agora</a>
<a class="toc item">
<i class="sidebar icon"></i>
</a></form>
</div>
</div>
`
}
    </script>

</body>

</html>